<div class="AccountPage">
  <div class="AccountPage__title">
    <h1>マイページ</h1>
  </div><br>
  <div class="Card__title">
    <h2>カード情報<h2>
  </div>
  <div class="Card_info">
    【カード番号】
    <br>
    <%= "**** **** **** " + @card[:last4] %>

    <br>
    【有効期限】
    <br>
    <%= @card[:exp_month] %>
    /
    <%= @card[:exp_year] %>
  </div>
  <div class="Account__info">
    <h2>ユーザー情報</h2>
  </div>
  <div class="AccountPage__form">
    <%= form_for(current_user) do |f| %>
      <div class="FormField">
        <div class="FormField__name">
          <%= f.label :nickname %>
        </div>
        <div class="FormField__name">
          <%= f.text_field :nickname, autofocus: true %>
        </div>
      </div>
      <div class="FormField">
        <div class="FormField__email">
          <%= f.label :email %>
        </div>
        <div class="FormField__email">
          <%= f.email_field :email %>
        </div>
        <br>
      </div>
      <div class="FormField">
        <div class="FormField__name">
          <%= f.label :grade %>
        </div>
        <div class="FormField__name">
          <%= f.text_field :grade %>
        </div>
      </div>
      <%= f.submit "更新する" %>
    <% end %>
  </div>
</div>

<div class="contents row">
  <p><%= @nickname %>さんの投稿一覧</p>
  <% @posts.each do |post| %>
    <div class="message">
      <div class="post-title">
        <%= post.title %>
      </div>
      <div class="more">
        <ul class="more_list">
          <li class="post-menu">
            <%= link_to '詳細', post_path(post.id), method: :get, class: "post-menu-link" %>
          </li>
          <li class="post-menu">
            <%= link_to '削除', post_path(post.id), method: :delete, class: "post-menu-link" %>
          </li>
        </ul>
      </div>
      <div class="post-image">
          <%= image_tag post.image.variant(resize:'300x300'), class: 'post-image' if post.image.attached? %>
      </div>
      <div class="post-text">
        <p class="text">
          <%= simple_format(post.message) %>
        </p>
      </div>
      <div class="post-tag">
        <ul class="tag">
          <li class="tag-list">
            <%post.tags.each do |tag| %>
              <%=tag.name%>
            <%end%>
          </li>
        </ul>
      </div>
    </div>
  <% end %>
</div>
