<!DOCTYPE html>
<html>
  <head>
    <title>Studyport29197</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
   <%= javascript_pack_tag 'application' %>
   <script src="https://js.pay.jp/" , type="text/javascript"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>

  <body>
      <header class="header">
        <div class="header__bar row">
          <h1 class="grid-6"><a href="/">StudyPort</a></h1>
        
        
          <% if user_signed_in?%>
          <div class="user_nav grid-6">
            <span>
            <%= current_user.nickname + "さん" %>
            <ul class="user__info">
              <li>
                <%= link_to "マイページ", "/users/#{current_user.id}" %>
                <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
              </li>
            </ul>
            </span>
          </div>
          <% else %>
            <div class="grid-6">
              <%= link_to "新規登録", new_user_registration_path %>
              
              <%= link_to "ログイン", new_user_session_path %>
            </div>
          <% end %>
        </div>
      </header>
      <%= yield %>
      <footer class="footer">
        <p>
          Copyright StudyPort 2020.
        </p>
      </footer>
  </body>
</html>
