<!DOCTYPE html>
<html>
  <head>
    <title>Studyport29197</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
   <%= javascript_pack_tag 'application' %>
   <script src="https://js.pay.jp/" , type="text/javascript"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>

  <body>
      <header class="all-header">
        <div class="header__bar_row">
          <h1 class="grid-6"><a href="/", class="studyport">StudyPort</a></h1>
        </div>
        <div class="user-log">
          <% if user_signed_in?%>
            <p class="current-user-name">
            <%= current_user.nickname + "さん" %>
            </p>
            <div class="user-log-1">
            <%= link_to "マイページ", "/users/#{current_user.id}", class: "btn" %>
            </div>
            <div class="user-log-2">
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "btn" %>
            </div>
          <% else %>
            <div class="user-log-1">
            <%= link_to "新規登録", new_user_registration_path, class: "btn" %>
            </div>
            <div class="user-log-2">
            <%= link_to "ログイン", new_user_session_path, class: "btn" %>
            </div>
          <% end %>
        </div>
      </header>
      <%= yield %>
      <footer class="footer">
        <p>
          Copyright StudyPort 2020.
        </p>
      </footer>
  </body>
</html>
