<!DOCTYPE html>
<html>
  <head>
    <title>Studyport29197</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <header class="header">
        <div class="header__bar_row">
          <h1 class="grid-6">StudyPort</h1>
        </div>
      </header>
      <%= yield %>
      <footer class="footer">
        <p>
          Copyright StudyPort 2020.
        </p>
      </footer>
  </body>
</html>
